progress, button {
    width: 100%;
    margin-top: 10px;
}

input {
    width: 99%;
}

table, td {
    border: 2px solid #000;
}

textarea {
    width: 48%;
    min-height: 200px;
    overflow-x: hidden;
}

#download-pubkey, #download-privkey {
    width: 49% !important
}